body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.heart {
    height: 90px;
    width: 90px;
    background: rgb(231, 54, 225);
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px rgb(231, 54, 225);
    animation: heart 0.6s linear infinite;
}

h1 {
    color: rgb(196, 196, 197);
    position: absolute;
    margin-top: 20rem;
}

@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.04);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}

.heart:before {
    content:'';
    position: absolute;
    height: 90px;
    width: 90px;
    background: rgb(231, 54, 225);
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px rgb(231, 54, 225);
}

.heart:after {
    content:'';
    position: absolute;
    height: 90px;
    width: 90px;
    background: rgb(231, 54, 225);
    right: -50%;
    border-radius: 50px;
    box-shadow: -10px 10px 90px rgb(231, 54, 225);
}